# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.mypy_cache/

# Environment
.env
.venv/
venv/
env/

# Streamlit
.streamlit/secrets.toml

# Others
.DS_Store

# Embeddings
.embedding_cache/